<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title> .:: Add or Edit Employee ::. </title>

    <!-- Bootstrap CSS -->
<!--    <link rel="stylesheet" th:href="@{webjars/bootstrap/4.4.1/css/bootstrap.min.css}"/>-->
<!--    <link rel="stylesheet" th:href="@{webjars/font-awesome/5.13.0/css/all.css}"/>-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css">

</head>
<body>
<div class="container my-5">
    <h3>Add or Edit Employee</h3>
    <div class="card">
        <div class="card-body">
            <div class="col-md-">

                <form action="#" th:action="@{/createEmployee}" th:object="${employee}" method="post">

                    <div class="row">
                        <input type="hidden" id="id" th:field="*{id}">

                        <div class="form-group col-md-8">
                            <label for="first-name" class="col-form-label">First Name</label>
                            <input id="firstName" type="text" th:field="*{firstName}"
                                   class="form-control" placeholder="First Name"/>
                        </div>

                        <div class="form-group col-md-8">
                            <label for="last-name" class="col-form-label">Last Name</label>
                            <input id="lastName" type="text" th:field="*{lastName}"
                                   class="form-control" placeholder="Last Name"/>
                        </div>

                        <div class="form-group col-md-8">
                            <label for="email" class="col-form-label">Email</label>
                            <input id="email" type="text" th:field="*{email}"
                                   class="form-control" placeholder="Email"/>
                        </div>

                        <div class="col-md-6">
                            <input type="submit" class="btn btn-primary" value="submit">
                        </div>

                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>